<ng-container *ngIf="viewModel$ | async as vm">
  <div class="master-detail">
    <div class="master-detail__list">
      <app-catalog-item-list
        [catalogItems]="vm.catalogItems"
        [selectedItemId]="vm.selectedItem?.catalogItemId"
        [isLoading]="vm.isLoading"
        [pageNumber]="vm.pageNumber"
        [pageSize]="vm.pageSize"
        [totalCount]="vm.totalCount"
        [totalPages]="vm.totalPages"
        (selectItem)="onSelectItem($event)"
        (create)="onCreate()"
        (delete)="onDelete($event)"
        (pageChange)="onPageChange($event)">
      </app-catalog-item-list>
    </div>

    <div class="master-detail__detail">
      <ng-container *ngIf="vm.showEdit; else emptyState">
        <app-catalog-item-edit
          [catalogItem]="vm.selectedItem"
          [isCreating]="vm.isCreating"
          [isSaving]="vm.isSaving"
          [errorMessage]="vm.errorMessage"
          (save)="onSave($event)"
          (cancel)="onCancel()">
        </app-catalog-item-edit>
      </ng-container>
      <ng-template #emptyState>
        <div class="master-detail__empty">
          <mat-icon>inventory_2</mat-icon>
          <p>Select an item to edit or click "Create" to add a new catalog item</p>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>
